.topBar{
    position: relative;
    width: 100%;
}
.btn_Login{
    width: 60px;
    height: 30px;
    border-radius: 3px;
    border-width: 2px;
    float: right;
}
.btn_Register{
    width: 60px;
    height: 30px;
    border-radius: 3px;
    border-width: 2px;
    float: right;
}